@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css'); */

html,
body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Nunito', sans-serif;
}

a:hover {
    color: black !important;
}

.app {
    max-width: 750px;
    margin: auto;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    padding: 12px;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    padding: 12px;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 12px;
    font-weight: 400;
    font-size: 16px;
}
