@import url('https://fonts.googleapis.com/css?family=Poppins:300,600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');

html, body{
    font-family: 'Poppins', sans-serif;
}

a:hover{
    color: #00c !important;
}

.app{
    max-width: 1000px;
    margin: auto;
}

h1{
    font-size: 30px;
    font-weight: 600;
    padding: 12px;
}

h2{
    font-size: 20px;
    font-weight: 600;
    padding: 12px;
}

p{
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 12px;
    font-weight: 300;
}
