.skillBox {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* margin: auto; */
}

.skillBox > * {
  flex: 1 1 auto;
}

.skillBox > * > *:first-child {
  text-align: center;
}

.skillBox > * > * {
  min-width: 300px;
  padding: 10px;
}

.skillBox > * h2 {
  margin-top: 20px;
}

.about {
  padding: 15px;
  margin-bottom: 150px;
}

.blink {
  font-weight: 700;
  font-size: 20px;
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
